<launch>

    <!-- launching the node for building and publishing the octomap -->
    <node name="octomap_stamepd_pa_node" pkg="octomap_pa"
      type="octree_stamped_native_node" output="screen">
        <!-- load parameter -->
        <rosparam command="load"
          file="$(find octomap_pa)/config/parameter.yaml" />
    </node>
</launch>
